<div class="grid grid-rows-8 grid-flow-col gap-8 justify-start p-8">
  <a routerLink="/dashboard" class="size-24 border rounded-md bg-background text-foreground overflow-hidden flex flex-col items-center justify-center">
    <div class="size-16 mx-auto">
      <ix-icon name="mdi-view-dashboard" [fullSize]="true"></ix-icon>
    </div>
    <div class="text-center line-clamp-1">Dashboard</div>
  </a>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
  <div class="size-24 border rounded-md"></div>
</div>
