<mat-sidenav-container
  class="app-side-nav-container flex flex-col h-full overflow-hidden"
  [style]="{
    'background-image': `url('/assets/images/backgrounds/white-bg.jpg')`,
  }"
>
  <ix-app-bar></ix-app-bar>
  <ix-topbar></ix-topbar>

  <main
    mat-sidenav-content
    class="pl-20 h-full pt-[36px] overflow-hidden"
    [ngClass]=""
  >
    <div
      class="relative h-full overflow-y-auto"
      [ngClass]="router.url.startsWith('/desktop') ? '' : 'bg-background'"
    >
      <router-outlet></router-outlet>
    </div>
  </main>
</mat-sidenav-container>
