@import "scss-imports/variables";

.interfaces-table {
  ::ng-deep tr td:first-child,
  ::ng-deep tr th:first-child {
    width: 56px;
  }

  ::ng-deep {
    .wider-column {
      width: 30%;
      @media (max-width: $breakpoint-tablet) {
        width: 150px;
      }
    }
  }

  ix-interface-status-icon {
    display: block;
    margin-left: 3px;
  }
}
